@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@import "tailwindcss";
@plugin "daisyui";
body {
  font-family: "Sora", sans-serif;
}
.base-color {
  color: #9538e2;
}
.base-bg {
  background-color: #9538e2;
}
nav a.active {
  opacity: 1;
}
.carts a.active {
  background-color: #9538e2;
  color: white;
}
.cat-btns a.active {
  background-color: #9538e2;
  color: white;
}
.banner-button a.active {
  background-color: white;
  color: #9538e2;
  border: none;
  outline: none;
  font-weight: bold;
}
.carts a.active::after {
  content: "";
  width: 0;
  height: 0;
}
nav a.active::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #9538e2;
}
.navbar2 a.active::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: white;
}
html {
  background-color: rgba(245, 245, 245, 0.734);
}
